.benefit-section {
  padding: 120px 0 160px;

  @include max-screen(1460px) {
    padding: 100px 0 140px;
  }

  @include max-screen(1366px) {
    padding: 80px 0 120px;
  }

  @include max-screen(1200px) {
    padding: 60px 0 100px;
  }

  @include max-screen(1024px) {
    padding: 40px 0 80px;
  }

  &__container {}

  &__title {
    margin-bottom: 165px;

    @include max-screen(1460px) {
      margin-bottom: 100px;
    }

    @include max-screen(1366px) {
      margin-bottom: 80px;
    }

    @include max-screen(1200px) {
      margin-bottom: 60px;
    }

    @include max-screen(480px) {
      margin-bottom: 48px;
    }
  }
}

.slider-holder {}

.slider-list {
  list-style: none;

  &__items {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(6, 255, 121, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }

  &__img {
    width: 100%;
  }

  &__subject {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    padding: 14px;
    min-height: 76px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 0 0 20px 20px;
  }

  .slick-slide {
    max-width: 300px;
    margin: 0 8px;
  }

  .slick-center {
    max-width: 362px;
    width: 100% !important;
    transition: all 0.3s ease-in-out;
    transform-origin: center;

    .slider-list__items {
      transition: all 0.1s ease-in-out;
      height: 486px;
      transform-origin: center;
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-arrow {
    top: 90%;
  }

  .slick-prev {
    left: 10%;
  }

  .slick-next {
    right: 10%;
  }
}