.content-section {
  padding-bottom: 120px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: 0;
    top: -26%;
    right: -32%;
    border-radius: 50%;
    width: 1600px;
    height: 1600px;
    background-image: url(../img/noise-img-min.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @include max-screen(560px) {
      background-image: url(../img/noise-img-min-sm.png);
      width: 560px;
      height: 640px;
      top: 10%;
      right: -42%;
      background-size: cover;
      opacity: 0.4;
    }
  }

  &:after {
    content: '';
    position: absolute;
    background-image: url(../img/noise-img-min-sm.png);
    width: 560px;
    height: 640px;
    top: 50%;
    right: 0%;
    background-size: cover;
    opacity: 0.4;
    display: none;

    @include max-screen(560px) {
      display: block;
    }
  }

  @include max-screen(1536px) {
    padding-bottom: 100px;
  }

  @include max-screen(1460px) {
    padding-bottom: 80px;
  }

  @include max-screen(1366px) {
    padding-bottom: 60px;
  }

  @include max-screen(1200px) {
    padding-bottom: 40px;
  }

  &__title {
    margin-bottom: 120px;

    @include max-screen(1536px) {
      margin-bottom: 100px;
    }

    @include max-screen(1460px) {
      margin-bottom: 80px;
    }

    @include max-screen(1366px) {
      margin-bottom: 60px;
    }

    @include max-screen(480px) {
      margin-bottom: 48px;
    }
  }
}

.content-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  &:after,
  &:before {
    content: '';
    position: absolute;

    width: 178px;
    height: 178px;

    background-repeat: no-repeat;
    background-size: contain;


    @include max-screen(1024px) {
      display: none;
    }
  }

  &:after {
    left: 0;
    top: -15px;
    background-image: url(../img/decor-content-elem.svg);
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s linear, opacity 0.3s linear;

  }

  &:before {
    right: 0;
    bottom: 15px;
    background-image: url(../img/decor-content-elem.svg);
    transform: scale(-1);
    opacity: 0;
    transition: opacity 0.6s linear;
  }

  &__items {
    position: relative;
    z-index: 10;
    max-width: calc(25% - 32px);
    width: 100%;
    margin: 0 16px 32px;
    padding: 54px 16px;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    color: $white;
    background: rgba(217, 217, 217, 0.01);
    box-shadow: inset 0px 39px 56px -36px rgba(255, 255, 255, 0.5),
      inset 0px 7px 11px -4px #FFFFFF,
      inset 0px -82px 68px -64px rgba(0, 109, 50, 0.3),
      inset 0px 98px 100px -48px rgba(0, 185, 85, 0.3),
      inset 0px 4px 18px rgba(6, 255, 121, 0.3),
      inset 0px 1px 40px rgba(131, 255, 188, 0.2);
    backdrop-filter: blur(100px);
    border-radius: 40px;

    opacity: 0;
    transform: translateY(100%);

    // transition: opacity 0.3s linear;

    transition-property: opacity, transform;
    transition-timing-function: ease-out;
    // transition-duration: 0.3s;

    @include max-screen(1024px) {
      max-width: calc(50% - 32px);
    }

    @include max-screen(480px) {
      max-width: 100%;
    }

    @include max-screen(375px) {
      margin: 0 6px 24px;
    }

    &:first-child {
      transition-duration: 0.2s;
    }

    &:nth-child(2) {
      transition-duration: 0.2s;
    }

    &:nth-child(3) {
      transition-duration: 0.4s;
    }

    &:nth-child(4) {
      transition-duration: 0.6s;
    }

    &:nth-child(5) {
      transition-duration: 0.8s;
    }

    &:nth-child(6) {
      transition-duration: 1s;
    }

    &:nth-child(7) {
      transition-duration: 1.2s;
    }

    &:last-child {
      transition-duration: 1.4s;
    }
  }

  &__img {
    display: block;
    margin: 0 auto 20px;
  }

  &__subject {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    color: $white;
    margin-bottom: 16px;
    text-transform: uppercase;

    @include max-screen(1200px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__btn {
    max-width: 210px;
    width: 100%;
    margin: 0 auto;
  }

  &.js-animation {

    &:after {
      transform: translateX(0);
      opacity: 1;
    }

    &:before {
      opacity: 1;
    }

    .content-list__items {
      opacity: 1;
      transform: translateY(0);
    }
  }
}