.faq-section {
  padding: 120px 0;
  position: relative;
  z-index: 10;

  &:before {
    content: '';
    position: absolute;
    top: -36%;
    right: -28%;
    opacity: 0.7;
    z-index: -1;
    border-radius: 50%;
    width: 2000px;
    height: 2000px;
    background-image: url(../img/noise-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include max-screen(1536px) {
    padding: 100px 0;
  }

  @include max-screen(1400px) {
    padding: 80px 0;
  }

  @include max-screen(1366px) {
    padding: 60px 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 300px;
    right: -200px;
    width: 440px;
    height: 821px;
    background-image: url(../img/decor-faq-elem.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__title {
    margin-bottom: 120px;

    @include max-screen(1536px) {
      margin-bottom: 100px;
    }

    @include max-screen(1400px) {
      margin-bottom: 80px;
    }

    @include max-screen(1366px) {
      margin-bottom: 60px;
    }

    @include max-screen(480px) {
      margin-bottom: 48px;
    }
  }
}

// Accrodion elem style
.accordion-block {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 10;

  &__list {
    list-style: none;
  }

  &__item {
    position: relative;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;

    &.is-open {

      .accordion-block__ctn {
        padding-top: 32px;
        padding-bottom: 32px;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px rgba(6, 255, 121, 0.3);
        backdrop-filter: blur(10px);
        height: auto;
        opacity: 1;
      }

      .accordion-block__btn {

        &:after {
          transform: translate(0, -50%) scale(1);
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 36px;
    }

    &:first-child {
      transition-duration: 0.3s;
    }

    &:nth-child(2) {
      transition-duration: 0.6s;
    }

    &:nth-child(3) {
      transition-duration: 0.9s;
    }

    &:nth-child(4) {
      transition-duration: 1.2s;
    }

    &:last-child {
      transition-duration: 1.5s;
    }
  }

  &__btn {
    text-align: left;
    position: relative;
    z-index: 10;
    display: block;
    width: 100%;

    padding: 34px 32px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgba(6, 255, 121, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    transition: all 0.2 linear;

    @include max-screen(1024px) {
      padding: 30px 28px;
    }

    @include max-screen(768px) {
      padding: 24px 20px;
    }

    &:hover {
      &:after {
        opacity: 0.7;
      }
    }

    &:after {
      content: '';
      position: absolute;
      background-image: url(../img/icon-arrow.svg);
      right: 40px;
      top: 50%;
      transform: translate(0, -50%) scale(-1);
      width: 56px;
      height: 56px;
      opacity: 1;
      transform-origin: center;
      transition: all 0.3s;
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);

      @include max-screen(1024px) {
        right: 0;
      }
    }
  }

  &__title {
    font-family: $main-font;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: $white;
    display: inline-block;

    @include max-screen(1024px) {
      font-size: 14px;
      line-height: 20px;
      padding-right: 32px;
    }
  }

  &__ctn {
    border-width: 1px;
    border-style: solid;
    border-color: $transp;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 0px 0px 4px 4px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 32px;
    padding-right: 32px;
    color: $white;

    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px rgb(6 255 121 / 30%);
    backdrop-filter: blur(10px);
    border-radius: 0 0 20px 20px;
    margin-top: -18px;

    height: 0;
    opacity: 0;
    transition: padding-top 0.1s ease-in,
      padding-bottom 0.1s ease-in, border-color 0.1s linear,
      background-color 0.3s linear,
      opacity 0.1s linear;

    @include max-screen(1024px) {
      padding-left: 24px;
      padding-right: 24px;
    }

    @include max-screen(768px) {
      font-size: 14px;
      line-height: 22px;
      padding-left: 16px;
      padding-right: 16px;
    }

    p {
      padding-top: 20px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &.js-animation {

    .accordion-block__item {
      opacity: 1;
    }
  }
}