.feedback-section {
  padding: 120px 0 138px;
  position: relative;
  z-index: 100;


  @include max-screen(1536px) {
    padding: 100px 0;
  }

  @include max-screen(1400px) {
    padding: 80px 0;
  }

  @include max-screen(1366px) {
    padding: 60px 0;
  }

  @include max-screen(1200px) {
    padding: 40px 0;
  }

  @include max-screen(1024px) {
    margin-bottom: 70px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 20px;
    font-weight: 800;
    color: $white;
    text-align: center;

    margin-bottom: 90px;
  }

  &__sublink {
    font-size: 14px;
    line-height: 20px;
    font-weight: 800;
    color: $accent;
    text-decoration: none;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
      width: 100%;
      height: 1px;
      background-color: $accent;
      transform-origin: center;
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      &:after {
        transform: scale(1);
      }
    }
  }

  &__holder {
    position: relative;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;

    &:after {
      content: '';
      position: absolute;
      width: 78%;
      height: 2px;
      bottom: 6px;
      left: 50%;
      transform: translateX(-50%);
      background: linear-gradient(90deg, rgba(7, 250, 119, 0.1) 10%, rgba(7, 250, 119, 1) 50%, rgba(7, 250, 119, 0.1) 90%);
    }
  }
}

.feedback-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 10;

  .slick-slide {
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.6;
    box-shadow: 0px 0px 10px rgba(6, 255, 121, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 20px 20px 0px 0px;
    margin: 10px 12px;
    transition: 0.2s ease-in-out;
  }

  .slick-center {
    opacity: 1;
  }

  .slick-active {
    opacity: 0.5;
  }

  .slick-active.slick-current {
    opacity: 1;

    .audio__btn-play {
      cursor: pointer;
    }
  }

  .slick-arrow {
    @include max-screen(1024px) {
      top: calc(100% + 44px);
    }
  }

  .slick-next {
    @include max-screen(1024px) {
      right: 250px;
    }

    @include max-screen(768px) {
      right: 10%;
    }
  }

  .slick-prev {
    @include max-screen(1024px) {
      left: 250px;
    }

    @include max-screen(768px) {
      left: 10%;
    }
  }

  .slick-dots {
    @include max-screen(360px) {
      bottom: -36px;
    }

    li {
      @include max-screen(360px) {
        width: 6px;
        height: 6px;
      }
    }
  }

  &__holder {
    text-align: center;
    padding: 34px 18px;
    min-height: 230px;
  }

  &__name {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: $white;
    display: block;
    margin-bottom: 30px;
    min-height: 48px;
  }

  &__audio {
    margin-bottom: 30px;
  }

  &__data {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: $accent;
  }
}

.audio {
  position: relative;
  margin-bottom: 30px;

  &__holder {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn-play {
    display: flex;
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 32px;
    border: none;
    // cursor: pointer;
    transform: scale(1);
    transform-origin: center;
    background-color: $transp;
    box-shadow: 0px 0px 15px rgba(12, 177, 88, 0.8);
    transition: transform 0.2s linear;

    @include max-screen(480px) {
      margin-right: 16px;
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: block;
      background-color: $transp;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &:after {
      background-image: url(../img/icon-btn-play.svg);
      opacity: 1;
    }

    &:before {
      background-image: url(../img/icon-btn-pause.svg);
      opacity: 0;
    }

    &.is-active {
      transform: scale(0.8);

      &:after {
        opacity: 0;
      }

      &:before {
        opacity: 1;
      }
    }
  }

  &__current-time {
    height: 30px;
    width: 184px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url(../img/icon-track.svg);
    background-repeat: repeat-x;
    background-size: auto;
    position: relative;
    cursor: pointer;

    &.is-playing {
      .bar {
        animation: sound 0ms -600ms linear infinite alternate;
      }
    }

    .bar {
      background: $accent;
      bottom: 1px;
      height: 30px;
      width: 2px;
      margin: 0px 3px;
      border-radius: 30px;
      // animation: sound 0ms -600ms linear infinite alternate;

      &:first-child {
        animation-duration: 474ms;
        height: 20px;
      }

      &:nth-child(2) {
        animation-duration: 433ms;
        height: 70px;
      }

      &:nth-child(3) {
        animation-duration: 407ms;
        height: 40px;
      }

      &:nth-child(4) {
        animation-duration: 458ms;
        height: 20px;
      }

      &:nth-child(5) {
        animation-duration: 400ms;
        height: 10px;
      }

      &:nth-child(6) {
        animation-duration: 427ms;
        height: 20px;
      }

      &:nth-child(7) {
        animation-duration: 441ms;
        height: 70px;
      }

      &:nth-child(8) {
        animation-duration: 419ms;
        height: 40px;
      }

      &:nth-child(9) {
        animation-duration: 487ms;
        height: 20px;
      }

      &:nth-child(10) {
        animation-duration: 433ms;
        height: 10px;
      }

      &:nth-child(11) {
        animation-duration: 407ms;
        height: 20px;
      }

      &:nth-child(12) {
        animation-duration: 458ms;
        height: 70px;
      }

      &:nth-child(13) {
        animation-duration: 400ms;
        height: 40px;
      }

      &:nth-child(14) {
        animation-duration: 427ms;
        height: 20px;
      }

      &:nth-child(15) {
        animation-duration: 441ms;
        height: 10px;
      }

      &:nth-child(16) {
        animation-duration: 419ms;
        height: 20px;
      }

      &:nth-child(17) {
        animation-duration: 487ms;
        height: 70px;
      }

      &:nth-child(18) {
        animation-duration: 487ms;
        height: 40px;
      }

      &:nth-child(19) {
        animation-duration: 487ms;
        height: 20px;
      }

      &:last-child {
        animation-duration: 442ms;
        height: 40px;
      }
    }
  }

  &__rest-time {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: translateX(50%);
    background-color: $black;
    opacity: 0.6;
    transition: 0.3s ease;
  }

  &__control {
    position: absolute;
    top: 50px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    max-width: 1px;
  }
}

@keyframes sound {
  0% {
    opacity: .35;
    height: 20px;
  }

  100% {
    opacity: 1;
    height: 70px;
  }
}