.personals-section {
  padding: 120px 0;

  @include max-screen(1460px) {
    padding: 100px 0;
  }

  @include max-screen(1366px) {
    padding: 80px 0;
  }

  @include max-screen(1200px) {
    padding: 60px 0;
  }

  @include max-screen(1024px) {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 120px;

    @include max-screen(1460px) {
      margin-bottom: 100px;
    }

    @include max-screen(1366px) {
      margin-bottom: 80px;
    }

    @include max-screen(1200px) {
      margin-bottom: 60px;
    }

    @include max-screen(480px) {
      margin-bottom: 48px;
    }
  }
}

.personal-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;

  @include max-screen(768px) {
    flex-direction: column;
    align-items: center;
  }

  &__items {
    max-width: 400px;
    margin: 0 15px;
    text-align: center;

    @include max-screen(480px) {
      max-width: 100%;
      margin: 0;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 372px;
    background-image: url(../img/circle-decor-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @include max-screen(480px) {
      max-width: 320px;
      height: 320px;
      width: 100%;
      margin: 0 auto;
      background-size: contain;
      background-position: center;
    }

    img {
      border-radius: 50%;
      overflow: hidden;
    }

  }

  &__name {
    font-size: 18px;
    line-height: 20px;
    font-weight: 800;
    color: $white;
    margin-bottom: 16px;
    text-align: center;
    text-transform: uppercase;
  }

  &__descr {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: $white;
    text-align: center;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;

    @include max-screen(480px) {
      max-width: 100%;
    }
  }
}