.profile-section {
  padding: 160px 0 120px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -60%;
    right: -32%;
    opacity: 0.7;
    z-index: 0;
    border-radius: 50%;
    width: 2000px;
    height: 2000px;
    background-image: url(../img/noise-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @include max-screen(1536px) {
    padding: 140px 0 100px;
  }

  @include max-screen(1400px) {
    padding: 120px 0 80px;
  }

  @include max-screen(1366px) {
    padding: 100px 0 60px;
  }

  @include max-screen(1200px) {
    padding: 60px 0;
  }

  @include max-screen(1024px) {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 64px;

    @include max-screen(480px) {
      margin-bottom: 48px;
    }
  }

  &__holder {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s linear, transform 0.5s linear;

    @include max-screen(1024px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    display: flex;
    margin-right: 50px;
    border-radius: 20px;
    overflow: hidden;
    max-width: 480px;
    width: 100%;
    height: 642px;
    border: 1px solid $accent;
    box-shadow: 0px 0px 40px rgba(12, 177, 88, 0.3);

    @include max-screen(1024px) {
      margin: 0 auto 32px;
      height: auto;
      max-width: 40%;
    }

    @include max-screen(480px) {
      max-width: 60%;
    }
  }

  &__ctn {
    max-width: 570px;
    width: 100%;

    @include max-screen(1024px) {
      max-width: 86%;
    }

    @include max-screen(480px) {
      max-width: 100%;
    }
  }

  &__descr {
    text-align: left;
    color: $white;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 40px;
    max-width: 90%;

    @include max-screen(1024px) {
      text-align: center;
      margin: 0 auto 32px;
    }

    @include max-screen(480px) {
      max-width: 100%;
    }

    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 16px;
    }

    strong {
      font-weight: 800;
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 26px;
    font-weight: 800;
    color: $white;
    text-align: left;
    margin-bottom: 16px;
    text-transform: uppercase;

    @include max-screen(1024px) {
      text-align: center;
    }
  }

  &__picture {
    display: flex;
    border-radius: 22px;
    overflow: hidden;
    max-width: 483px;
    height: 330px;

    @include max-screen(1024px) {
      margin: 0 auto;
    }
  }

  &.js-animation {
    .profile-section__holder {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}