.team-section {
  padding: 120px 0 30px;

  @include max-screen(1460px) {
    padding: 100px 0 30px;
  }

  @include max-screen(1366px) {
    padding: 80px 0 30px;
  }

  @include max-screen(1200px) {
    padding: 60px 0 30px;
  }

  @include max-screen(1024px) {
    padding: 30px 0;
  }

  &__title {
    margin-bottom: 120px;

    @include max-screen(1460px) {
      margin-bottom: 100px;
    }

    @include max-screen(1366px) {
      margin-bottom: 80px;
    }

    @include max-screen(1200px) {
      margin-bottom: 60px;
    }

    @include max-screen(480px) {
      margin-bottom: 48px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;

    @include max-screen(1200px) {
      flex-direction: column;
    }

    &.js-animation {
      .section-team__items {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__items {
    margin: 0 auto 52px;
    flex-basis: 256px;
    transition-property: transform, opacity;
    // opacity: 0;
    // transform: translateY(100%);
    transition-timing-function: ease-in-out;

    @include max-screen(1024px) {
      padding: 0 5px;
    }

    @include max-screen(460px) {
      margin: 0 auto 24px;
    }

    &:first-child {
      transition-duration: 0.2s;

      @include max-screen(1024px) {
        transition-duration: 0.5s;
      }
    }

    &:nth-child(2) {
      transition-duration: 0.4s;
    }

    &:nth-child(3) {
      transition-duration: 0.6s;
    }

    &:nth-child(4) {
      transition-duration: 0.8s;
    }

    &:nth-child(5) {
      transition-duration: 1s;
    }

    &:nth-child(6) {
      transition-duration: 1.2s;
    }

    &:last-child {
      transition-duration: 1.4s;
    }

    &.member-third {
      .team-section__thumb {
        &:after {
          top: -10px;
          left: -16px;
        }

        &:before {
          top: -10px;
          left: 36px;
        }
      }
    }

    &.member-fourth {
      .team-section__thumb {
        &:after {
          top: 16px;
          left: 36px;
        }
      }
    }

  }

  &__profile {}

  &__thumb {
    display: block;
    width: 252px;
    height: 252px;
    border-radius: 50%;
    // overflow: hidden;
    // box-shadow: 0px 0px 40px rgba(12, 177, 88, 0.8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto 16px;
    position: relative;
    border: 1px solid $accent;

    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 236px;
      height: 236px;
      border-radius: 50%;
      border: 1px solid $accent;
    }

    &:after {
      top: 16px;
      left: -23px;
    }

    &:before {
      top: -18px;
      left: 10px;
    }

    @include max-screen(460px) {
      margin: 0 auto 10px;
    }

    img {
      position: relative;
      z-index: 10;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;
      transition: 0.2s ease-out;
      transform: scale(1);
      transform-origin: center;
      box-shadow: 0px 0px 40px rgba(12, 177, 88, 0.8);
    }
  }

  &__desc {
    text-align: center;
    color: $white;
  }

  &__name {
    display: inline-block;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__position {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;
  }

  &__country {
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
  }
}