.team-section {
  padding: 120px 0 30px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -40%;
    left: -30%;
    opacity: 0.7;
    z-index: 0;
    border-radius: 50%;
    width: 1600px;
    height: 1600px;
    background-image: url(../img/noise-img-min.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include max-screen(560px) {
      background-image: url(../img/noise-img-min-sm.png);
      bottom: 0;
      width: 560px;
      height: 1200px;
      border-radius: 0;
      opacity: 0.3;
    }
  }

  &:after {
    content: '';
    position: absolute;
    background-image: url(../img/noise-img-min-sm.png);
    top: 26%;
    left: -30%;
    width: 560px;
    height: 1000px;
    border-radius: 0;
    opacity: .5;
    background-size: cover;
    display: none;

    @include max-screen(560px) {
      display: block;
    }
  }

  @include max-screen(1536px) {
    padding: 100px 0 30px;
  }

  @include max-screen(1400px) {
    padding: 80px 0 30px;
  }

  @include max-screen(1366px) {
    padding: 60px 0 30px;
  }

  @include max-screen(1200px) {
    padding: 30px 0;
  }

  &__title {
    margin-bottom: 120px;
    position: relative;
    z-index: 10;

    @include max-screen(1536px) {
      margin-bottom: 100px;
    }

    @include max-screen(1400px) {
      margin-bottom: 80px;
    }

    @include max-screen(1366px) {
      margin-bottom: 60px;
    }

    @include max-screen(480px) {
      margin-bottom: 48px;
    }
  }

  &__list {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;

    @include max-screen(1200px) {
      flex-direction: column;
    }

    &.js-animation {
      .section-team__items {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  &__items {
    margin: 0 auto 52px;
    flex-basis: 256px;
    transition-property: transform, opacity;
    opacity: 0;
    transform: translateY(100%);
    transition-property: opacity, transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;

    @include max-screen(1024px) {
      padding: 0 5px;
    }

    @include max-screen(768px) {
      margin: 0 auto 56px;
    }

    &:first-child {
      transition-duration: 0.2s;

      img {
        background-color: $black;
        object-fit: contain;
      }
    }

    &:nth-child(2) {
      transition-duration: 0.4s;
    }

    &:nth-child(3) {
      transition-duration: 0.6s;

      img {
        object-fit: cover;
      }
    }

    &:nth-child(4) {
      transition-duration: 0.8s;
    }

    &:nth-child(5) {
      transition-duration: 1s;

      img {
        object-fit: contain;
        background: #5d5d5d;
      }
    }

    &:nth-child(6) {
      transition-duration: 1.2s;
    }

    &:last-child {
      transition-duration: 1.4s;

      img {
        object-fit: cover;
      }
    }

    &.member-third {
      .team-section__thumb {
        &:after {
          top: -10px;
          left: -16px;
        }

        &:before {
          top: -10px;
          left: 36px;
        }
      }
    }

    &.member-fourth {
      .team-section__thumb {
        &:after {
          top: 16px;
          left: 36px;
        }
      }
    }

  }

  &__thumb {
    display: block;
    width: 252px;
    height: 252px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto 16px;
    position: relative;
    border: 1px solid $accent;

    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 236px;
      height: 236px;
      border-radius: 50%;
      border: 1px solid $accent;
    }

    &:after {
      top: 16px;
      left: -23px;
    }

    &:before {
      top: -18px;
      left: 10px;
    }

    @include max-screen(460px) {
      margin: 0 auto 10px;
    }

    img {
      position: relative;
      z-index: 10;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      overflow: hidden;
      transition: 0.2s ease-out;
      transform: scale(1);
      transform-origin: center;
      box-shadow: 0px 0px 40px rgba(12, 177, 88, 0.8);
    }
  }

  &__desc {
    text-align: center;
    color: $white;
  }

  &__name {
    display: inline-block;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__position {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 8px;

    @include max-screen(1024px) {
      max-width: 75%;
      margin: 0 auto 8px;
    }
  }

  &__country {
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
  }

  &.js-animation {
    .team-section__items {
      opacity: 1;
      transform: translateY(0);
    }
  }
}